@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Gothic+A1:wght@300&family=Inter&family=Livvic:wght@400;700&family=Noto+Sans+JP&family=Roboto&family=Roboto+Condensed&family=Suez+One&display=swap');
:root{
    --font-f: "Livvic", sans-serif;
    --font:"Gothic A1", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.Project_details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#263C28;
    padding-top: 5rem;
    z-index: 1;
}

.project_intro {
    text-align: center;
    margin-bottom: 20px;
    color:#b9b9b9;
    font-family: var(--font);
}
.project_intro h6{
    font-size:15px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.project_head {
    text-align: center;
    margin-bottom: 40px;
}
.project_head h1{
    margin-top: 1rem;
    font-size:38px;
    color: #dddddd;
    font-family: var(--font-f);
}
.image_details{
    display: flex;
    justify-content: space-evenly;
    margin:1rem 5rem 3rem 5rem;
    flex-wrap: wrap;
    z-index: 1;
}
.project_details img{
  width: 260px;
  height: 280px;
  border-radius: 10px;
  border:2px solid #F7C35F;
  margin-bottom: .9rem;
}
.project_heads{
    display: flex;
    justify-content: space-between;
    margin:-4.2rem .1rem 0rem .1rem;
    padding:8px;
    background-color:#1d2e1e;
    opacity:.9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.project_heads h5{
    z-index: 2;
    color:#F7C35F;
    font-family: var(--font-f);
    font-size:12px;
    font-weight: normal;
    width: 90%;
    letter-spacing: 1px;
}
.move img{
    width: 20px;
    z-index:2;
    margin-top:.6rem;
    margin-right:.3rem;
    height: 13px;
}
.move a {
    cursor: pointer;
}
@media(max-width:1024px) {
    .project_intro h6{
        font-size:13px;
    }
    .project_head h1{
        font-size:25px;
    }
    .image_details{
        flex-direction: column;
        gap:1.3rem;
        margin:0 auto;
    }
    .project_details img{
        width: 230px;
        height: 240px;
        margin-bottom: 1rem;
    }
    .project_heads{
        margin:-4.2rem .1rem 0 .1rem;
    }
    .move img{
        width: 19px;
        z-index:2;
        margin-top:.4rem;
        height: 13px;
        margin-right: 0rem;
    }
}